name: CI

on:
  workflow_dispatch:
  push:
    paths:
      - 'Mifare Classic Tool/**'
  pull_request:
    paths:
      - 'Mifare Classic Tool/**'

env:
  PROJECT_PATH: Mifare Classic Tool

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
          cache: 'gradle' # Enables caching for faster builds

      - name: Grant execute permission for gradlew
        working-directory: ${{ env.PROJECT_PATH }}
        run: chmod +x gradlew

      - name: Build with Gradle
        working-directory: ${{ env.PROJECT_PATH }}
        run: ./gradlew assembleDebug

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          # Using run_number since BUILD_TIME was undefined
          name: debug-apk-build-${{ github.run_number }}
          path: ${{ env.PROJECT_PATH }}/app/build/outputs/apk/debug/*.apk
